footer {
    display: flex;
    justify-content: center;

    ul {
        li {
            text-decoration: none;
            padding: 10px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 30px;
            text-shadow: 3px 3px 3px #ababab;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }

}