body {
    background-image: url(../imagen.html/fondo.jpg);
    background-attachment: fixed;
    text-align: center;
    position: sticky;
    top: 0;
    color: black;
}
li{
    list-style: none;
}
