main{
    .cards{
        display: flex;
        justify-content:  center;
       
        .card {
            background-color: rgb(150, 91, 53);
            margin: 2px 10px;
            .bt{
                background-color: rgba(187, 130, 77, 0.658);
                border: solid 1px black;
                &:hover{
                    transform: scale(1.2);
                }
                
            }
        }
    }
}
